// global vars font links
// $body-background: #f3f3f3 !default;
// $body-font-family: 'Circular', sans-serif !default;
// $global-weight-noraml: 400 !default;
// $global-lineheight: 1.5 !default;
// $body-font-color: #000 !default;
// $base-font-size: 100% !default;
// $global-width: 1200 !default;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/root";
@import "../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../node_modules/bootstrap/scss/utilities/api";
@import "../../../../node_modules/bootstrap/scss/helpers";

// 6. Optionally include any other parts as needed // Layout & components
@import "../../../../node_modules/bootstrap/scss/root";
@import "../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../node_modules/bootstrap/scss/type";
// @import "../../../../node_modules/bootstrap/scss/images";
@import "../../../../node_modules/bootstrap/scss/containers";
@import "../../../../node_modules/bootstrap/scss/grid";
// @import "../../../../node_modules/bootstrap/scss/tables";
@import "../../../../node_modules/bootstrap/scss/forms";
@import "../../../../node_modules/bootstrap/scss/buttons";
@import "../../../../node_modules/bootstrap/scss/transitions";
@import "../../../../node_modules/bootstrap/scss/dropdown";
// @import "../../../../node_modules/bootstrap/scss/button-group";
@import "../../../../node_modules/bootstrap/scss/nav";
@import "../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../node_modules/bootstrap/scss/card";
// @import "../../../../node_modules/bootstrap/scss/accordion";
// @import "../../../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../../../node_modules/bootstrap/scss/pagination";
// @import "../../../../node_modules/bootstrap/scss/badge";
// @import "../../../../node_modules/bootstrap/scss/alert";
// @import "../../../../node_modules/bootstrap/scss/progress";
// @import "../../../../node_modules/bootstrap/scss/list-group";
// @import "../../../../node_modules/bootstrap/scss/close";
// @import "../../../../node_modules/bootstrap/scss/toasts";
// @import "../../../../node_modules/bootstrap/scss/modal";
// @import "../../../../node_modules/bootstrap/scss/tooltip";
// @import "../../../../node_modules/bootstrap/scss/popover";
// @import "../../../../node_modules/bootstrap/scss/carousel";
// @import "../../../../node_modules/bootstrap/scss/spinners";
// @import "../../../../node_modules/bootstrap/scss/offcanvas";
// @import "../../../../node_modules/bootstrap/scss/placeholders";






/* ============ desktop view ============ */
// @media all and (min-width: 992px) {
// 	.navbar .nav-item .dropdown-menu{ display: none; }
// 	.navbar .nav-item:hover .nav-link{   }
// 	.navbar .nav-item:hover .dropdown-menu{ display: block; }
// 	.navbar .nav-item .dropdown-menu{ margin-top:0; }
// }	
/* ============ desktop view .end// ============ */

.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}



.dropdown:hover >.dropdown-menu{
    display: block !important;
  }
  .dropdown-submenu:hover > .dropdown-menu{
    display: block !important;
      left: 100%;
      margin-top: -37px;
  }
  
  .dropdown-item{
    font-size: small; /* 13px */
  }
  .dropdown-toggle::after{
    font-size: var(--font-md);
    margin-bottom: -2px;
  }
  .dropdown-menu li a.active{
    color:#fff;
  }
  
  .custom-toggle-arrow{
        font-size: 18px;
        margin-top: 1px;
        line-height: 12px;
  }